.elementor-3777 .elementor-element.elementor-element-337ac7a:not(.elementor-motion-effects-element-type-background),
.elementor-3777 .elementor-element.elementor-element-337ac7a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #668CFF
}

.elementor-3777 .elementor-element.elementor-element-337ac7a {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 15px 0 0
}

.elementor-3777 .elementor-element.elementor-element-337ac7a>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-3777 .elementor-element.elementor-element-9ac2f6e .elementor-heading-title {
    color: #fff;
    font-size: 29px;
    font-weight: 400
}

.elementor-3777 .elementor-element.elementor-element-f3b16d0 .elementor-heading-title {
    color: #fff;
    font-size: 21px
}

.elementor-3777 .elementor-element.elementor-element-56d9be6 .elementor-icon-wrapper {
    text-align: center
}

.elementor-3777 .elementor-element.elementor-element-56d9be6.elementor-view-stacked .elementor-icon {
    background-color: #fff
}

.elementor-3777 .elementor-element.elementor-element-56d9be6.elementor-view-framed .elementor-icon,
.elementor-3777 .elementor-element.elementor-element-56d9be6.elementor-view-default .elementor-icon {
    color: #fff;
    border-color: #fff
}

.elementor-3777 .elementor-element.elementor-element-56d9be6.elementor-view-framed .elementor-icon,
.elementor-3777 .elementor-element.elementor-element-56d9be6.elementor-view-default .elementor-icon svg {
    fill: #fff
}

.elementor-3777 .elementor-element.elementor-element-56d9be6 .elementor-icon {
    font-size: 92px
}

.elementor-3777 .elementor-element.elementor-element-56d9be6 .elementor-icon i,
.elementor-3777 .elementor-element.elementor-element-56d9be6 .elementor-icon svg {
    transform: rotate(24deg)
}

.elementor-3777 .elementor-element.elementor-element-56d9be6 {
    width: auto;
    max-width: auto;
    top: 44px
}

body:not(.rtl) .elementor-3777 .elementor-element.elementor-element-56d9be6 {
    right: -274.8px
}

body.rtl .elementor-3777 .elementor-element.elementor-element-56d9be6 {
    left: -274.8px
}

.elementor-3777 .elementor-element.elementor-element-48b975a .elementor-icon-wrapper {
    text-align: center
}

.elementor-3777 .elementor-element.elementor-element-48b975a.elementor-view-stacked .elementor-icon {
    background-color: #fff
}

.elementor-3777 .elementor-element.elementor-element-48b975a.elementor-view-framed .elementor-icon,
.elementor-3777 .elementor-element.elementor-element-48b975a.elementor-view-default .elementor-icon {
    color: #fff;
    border-color: #fff
}

.elementor-3777 .elementor-element.elementor-element-48b975a.elementor-view-framed .elementor-icon,
.elementor-3777 .elementor-element.elementor-element-48b975a.elementor-view-default .elementor-icon svg {
    fill: #fff
}

.elementor-3777 .elementor-element.elementor-element-48b975a .elementor-icon {
    font-size: 69px
}

.elementor-3777 .elementor-element.elementor-element-48b975a .elementor-icon i,
.elementor-3777 .elementor-element.elementor-element-48b975a .elementor-icon svg {
    transform: rotate(328deg)
}

.elementor-3777 .elementor-element.elementor-element-48b975a {
    width: auto;
    max-width: auto;
    top: 132px
}

body:not(.rtl) .elementor-3777 .elementor-element.elementor-element-48b975a {
    left: -22%
}

body.rtl .elementor-3777 .elementor-element.elementor-element-48b975a {
    right: -22%
}

.elementor-3777 .elementor-element.elementor-element-1597337 {
    margin-top: 10px;
    margin-bottom: -100px
}

.elementor-3777 .elementor-element.elementor-element-0af82b1>.elementor-element-populated {
    padding: 0
}

.elementor-3777 .elementor-element.elementor-element-940d3e8 {
    --divider-border-style: zigzag;
    --divider-color: #fff;
    --divider-border-width: 1.8px;
    --divider-pattern-height: 20px;
    --divider-pattern-size: 20px;
    width: auto;
    max-width: auto
}

.elementor-3777 .elementor-element.elementor-element-940d3e8 .elementor-divider-separator {
    width: 150px
}

.elementor-3777 .elementor-element.elementor-element-940d3e8 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-3777 .elementor-element.elementor-element-48c356b {
    width: auto;
    max-width: auto;
    top: 257px
}

body:not(.rtl) .elementor-3777 .elementor-element.elementor-element-48c356b {
    left: -11%
}

body.rtl .elementor-3777 .elementor-element.elementor-element-48c356b {
    right: -11%
}

.elementor-3777 .elementor-element.elementor-element-48c356b>.elementor-widget-container {
    transform: rotate(335deg)
}

.elementor-3777 .elementor-element.elementor-element-7b64a86 {
    width: auto;
    max-width: auto;
    top: 235px
}

body:not(.rtl) .elementor-3777 .elementor-element.elementor-element-7b64a86 {
    right: -164.9px
}

body.rtl .elementor-3777 .elementor-element.elementor-element-7b64a86 {
    left: -164.9px
}

.elementor-3777 .elementor-element.elementor-element-7b64a86>.elementor-widget-container {
    transform: rotate(30deg)
}

.elementor-3777 .elementor-element.elementor-element-b88aac3 .elementor-spacer-inner {
    height: 115px
}

.elementor-3777 .elementor-element.elementor-element-4ba63eb>.elementor-widget-container {
    margin: 0
}

.elementor-3777 .elementor-element.elementor-element-b4cf891 {
    margin-top: 30px;
    margin-bottom: 0
}

.elementor-3777 .elementor-element.elementor-element-82091c2>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 8px
}

.elementor-3777 .elementor-element.elementor-element-0475652 .elementor-heading-title {
    color: #7635f3;
    font-weight: 700;
    text-transform: uppercase
}

.elementor-3777 .elementor-element.elementor-element-2787c75 .elementor-heading-title {
    font-size: 30px
}

.elementor-3777 .elementor-element.elementor-element-2787c75>.elementor-widget-container {
    margin: 0 0 20px
}

.elementor-3777 .elementor-element.elementor-element-c467f3f {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-3777 .elementor-element.elementor-element-c467f3f>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-3777 .elementor-element.elementor-element-de08caf:not(.elementor-motion-effects-element-type-background),
.elementor-3777 .elementor-element.elementor-element-de08caf>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://remag.wpsoul.net/wp-content/uploads/2020/11/flooropt.jpg")
}

.elementor-3777 .elementor-element.elementor-element-de08caf {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 20px 0
}

.elementor-3777 .elementor-element.elementor-element-de08caf>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-3777 .elementor-element.elementor-element-d35b486 {
    margin-top: 0;
    margin-bottom: 20px
}

.elementor-3777 .elementor-element.elementor-element-22b056e .elementor-heading-title {
    color: #61ce70;
    font-weight: 700;
    text-transform: uppercase
}

.elementor-3777 .elementor-element.elementor-element-c9ee0c9 .elementor-heading-title {
    color: #fff;
    font-size: 30px
}

.elementor-3777 .elementor-element.elementor-element-c9ee0c9>.elementor-widget-container {
    margin: 0 0 20px
}

.elementor-3777 .elementor-element.elementor-element-c2ea1a4>.elementor-widget-container {
    margin: 0 0 25px
}

.elementor-3777 .elementor-element.elementor-element-728dc68 {
    padding: 50px 0
}

.elementor-3777 .elementor-element.elementor-element-021b82e>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 8px
}

.elementor-3777 .elementor-element.elementor-element-3764e48 .elementor-heading-title {
    color: #7635f3;
    font-weight: 700;
    text-transform: uppercase
}

.elementor-3777 .elementor-element.elementor-element-a916773 .elementor-heading-title {
    font-size: 30px
}

.elementor-3777 .elementor-element.elementor-element-a916773>.elementor-widget-container {
    margin: 0 0 20px
}

.elementor-3777 .elementor-element.elementor-element-fbcbcc3 {
    margin-top: 0;
    margin-bottom: 30px
}

.elementor-3777 .elementor-element.elementor-element-e9dcc3e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(6px/2)
}

.elementor-3777 .elementor-element.elementor-element-e9dcc3e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(6px/2)
}

.elementor-3777 .elementor-element.elementor-element-e9dcc3e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(6px/2);
    margin-left: calc(6px/2)
}

.elementor-3777 .elementor-element.elementor-element-e9dcc3e .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-6px/2);
    margin-left: calc(-6px/2)
}

body.rtl .elementor-3777 .elementor-element.elementor-element-e9dcc3e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-6px/2)
}

body:not(.rtl) .elementor-3777 .elementor-element.elementor-element-e9dcc3e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-6px/2)
}

.elementor-3777 .elementor-element.elementor-element-e9dcc3e .elementor-icon-list-icon i {
    font-size: 14px
}

.elementor-3777 .elementor-element.elementor-element-e9dcc3e .elementor-icon-list-icon svg {
    width: 14px
}

.elementor-3777 .elementor-element.elementor-element-e9dcc3e .elementor-icon-list-text {
    color: #000
}

.elementor-3777 .elementor-element.elementor-element-94472a6 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(6px/2)
}

.elementor-3777 .elementor-element.elementor-element-94472a6 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(6px/2)
}

.elementor-3777 .elementor-element.elementor-element-94472a6 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(6px/2);
    margin-left: calc(6px/2)
}

.elementor-3777 .elementor-element.elementor-element-94472a6 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-6px/2);
    margin-left: calc(-6px/2)
}

body.rtl .elementor-3777 .elementor-element.elementor-element-94472a6 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-6px/2)
}

body:not(.rtl) .elementor-3777 .elementor-element.elementor-element-94472a6 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-6px/2)
}

.elementor-3777 .elementor-element.elementor-element-94472a6 .elementor-icon-list-icon i {
    font-size: 14px
}

.elementor-3777 .elementor-element.elementor-element-94472a6 .elementor-icon-list-icon svg {
    width: 14px
}

.elementor-3777 .elementor-element.elementor-element-94472a6 .elementor-icon-list-text {
    color: #000
}

.elementor-3777 .elementor-element.elementor-element-cde3d10 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(6px/2)
}

.elementor-3777 .elementor-element.elementor-element-cde3d10 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(6px/2)
}

.elementor-3777 .elementor-element.elementor-element-cde3d10 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(6px/2);
    margin-left: calc(6px/2)
}

.elementor-3777 .elementor-element.elementor-element-cde3d10 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-6px/2);
    margin-left: calc(-6px/2)
}

body.rtl .elementor-3777 .elementor-element.elementor-element-cde3d10 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-6px/2)
}

body:not(.rtl) .elementor-3777 .elementor-element.elementor-element-cde3d10 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-6px/2)
}

.elementor-3777 .elementor-element.elementor-element-cde3d10 .elementor-icon-list-icon i {
    font-size: 14px
}

.elementor-3777 .elementor-element.elementor-element-cde3d10 .elementor-icon-list-icon svg {
    width: 14px
}

.elementor-3777 .elementor-element.elementor-element-cde3d10 .elementor-icon-list-text {
    color: #000
}

.elementor-3777 .elementor-element.elementor-element-3b5a001 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(6px/2)
}

.elementor-3777 .elementor-element.elementor-element-3b5a001 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(6px/2)
}

.elementor-3777 .elementor-element.elementor-element-3b5a001 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(6px/2);
    margin-left: calc(6px/2)
}

.elementor-3777 .elementor-element.elementor-element-3b5a001 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-6px/2);
    margin-left: calc(-6px/2)
}

body.rtl .elementor-3777 .elementor-element.elementor-element-3b5a001 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-6px/2)
}

body:not(.rtl) .elementor-3777 .elementor-element.elementor-element-3b5a001 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-6px/2)
}

.elementor-3777 .elementor-element.elementor-element-3b5a001 .elementor-icon-list-icon i {
    font-size: 14px
}

.elementor-3777 .elementor-element.elementor-element-3b5a001 .elementor-icon-list-icon svg {
    width: 14px
}

.elementor-3777 .elementor-element.elementor-element-3b5a001 .elementor-icon-list-text {
    color: #000
}

.elementor-3777 .elementor-element.elementor-element-d473116>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-3777 .elementor-element.elementor-element-d473116:not(.elementor-motion-effects-element-type-background),
.elementor-3777 .elementor-element.elementor-element-d473116>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f3f5ff
}

.elementor-3777 .elementor-element.elementor-element-d473116 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 100px 0
}

.elementor-3777 .elementor-element.elementor-element-d473116>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-3777 .elementor-element.elementor-element-40b7cd0>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 30px
}

.elementor-3777 .elementor-element.elementor-element-df394e2 .elementor-heading-title {
    color: #7635f3;
    font-weight: 700;
    text-transform: uppercase
}

.elementor-3777 .elementor-element.elementor-element-dc43cb2 .elementor-heading-title {
    font-size: 40px;
    line-height: 1.3em
}

.elementor-3777 .elementor-element.elementor-element-e24c41c .elementor-heading-title {
    line-height: 1.5em
}

.elementor-3777 .elementor-element.elementor-element-1fa6e50 .elementor-button {
    font-size: 20px;
    background-color: #7635f3
}

.elementor-3777 .elementor-element.elementor-element-1b044de.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center
}

.elementor-3777 .elementor-element.elementor-element-dc1baa1 .elementor-counter-number-wrapper {
    color: #f9a61c;
    font-size: 33px;
    line-height: 1.2em
}

.elementor-3777 .elementor-element.elementor-element-dc1baa1 .elementor-counter-title {
    font-size: 15px;
    line-height: 1em
}

.elementor-3777 .elementor-element.elementor-element-dc1baa1 {
    z-index: 2;
    width: auto;
    max-width: auto;
    top: 125px
}

.elementor-3777 .elementor-element.elementor-element-dc1baa1>.elementor-widget-container {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, .03);
    width: 135px;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center
}

body:not(.rtl) .elementor-3777 .elementor-element.elementor-element-dc1baa1 {
    right: 8px
}

body.rtl .elementor-3777 .elementor-element.elementor-element-dc1baa1 {
    left: 8px
}

.elementor-3777 .elementor-element.elementor-element-6cf494c .elementor-counter-number-wrapper {
    color: #7635f3;
    font-size: 33px;
    line-height: 1.2em
}

.elementor-3777 .elementor-element.elementor-element-6cf494c .elementor-counter-title {
    font-size: 15px;
    line-height: 1em
}

.elementor-3777 .elementor-element.elementor-element-6cf494c {
    z-index: 2;
    width: auto;
    max-width: auto;
    top: -12px
}

.elementor-3777 .elementor-element.elementor-element-6cf494c>.elementor-widget-container {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, .03);
    width: 135px;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center
}

body:not(.rtl) .elementor-3777 .elementor-element.elementor-element-6cf494c {
    left: 39.732%
}

body.rtl .elementor-3777 .elementor-element.elementor-element-6cf494c {
    right: 39.732%
}

.elementor-3777 .elementor-element.elementor-element-52b6b82 .elementor-counter-number-wrapper {
    color: #23a455;
    font-size: 33px;
    line-height: 1.2em
}

.elementor-3777 .elementor-element.elementor-element-52b6b82 .elementor-counter-title {
    font-size: 15px;
    line-height: 1em
}

.elementor-3777 .elementor-element.elementor-element-52b6b82 {
    z-index: 2;
    width: auto;
    max-width: auto;
    bottom: 58px
}

.elementor-3777 .elementor-element.elementor-element-52b6b82>.elementor-widget-container {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, .03);
    width: 135px;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center
}

body:not(.rtl) .elementor-3777 .elementor-element.elementor-element-52b6b82 {
    left: 59.018%
}

body.rtl .elementor-3777 .elementor-element.elementor-element-52b6b82 {
    right: 59.018%
}

.elementor-3777 .elementor-element.elementor-element-167a225 .elementor-counter-number-wrapper {
    color: #ff4911;
    font-size: 33px;
    line-height: 1.2em
}

.elementor-3777 .elementor-element.elementor-element-167a225 .elementor-counter-title {
    font-size: 15px;
    line-height: 1em
}

.elementor-3777 .elementor-element.elementor-element-167a225 {
    z-index: 2;
    width: auto;
    max-width: auto;
    top: 227px
}

.elementor-3777 .elementor-element.elementor-element-167a225>.elementor-widget-container {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, .03);
    width: 135px;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center
}

body:not(.rtl) .elementor-3777 .elementor-element.elementor-element-167a225 {
    left: 6.429%
}

body.rtl .elementor-3777 .elementor-element.elementor-element-167a225 {
    right: 6.429%
}

.elementor-3777 .elementor-element.elementor-element-dae46a6>.elementor-widget-container {
    border-style: solid
}

.elementor-3777 .elementor-element.elementor-element-dae46a6 {
    width: auto;
    max-width: auto
}

.elementor-3777 .elementor-element.elementor-element-6831218 {
    z-index: 1;
    width: auto;
    max-width: auto;
    top: 0
}

.elementor-3777 .elementor-element.elementor-element-6831218>.elementor-widget-container {
    border-style: solid
}

body:not(.rtl) .elementor-3777 .elementor-element.elementor-element-6831218 {
    left: 33px
}

body.rtl .elementor-3777 .elementor-element.elementor-element-6831218 {
    right: 33px
}

.elementor-3777 .elementor-element.elementor-element-b22f75a {
    z-index: 1;
    width: auto;
    max-width: auto;
    top: 0
}

.elementor-3777 .elementor-element.elementor-element-b22f75a>.elementor-widget-container {
    border-style: solid
}

body:not(.rtl) .elementor-3777 .elementor-element.elementor-element-b22f75a {
    left: 33px
}

body.rtl .elementor-3777 .elementor-element.elementor-element-b22f75a {
    right: 33px
}

.elementor-3777 .elementor-element.elementor-element-26f97a2 {
    z-index: 1;
    width: auto;
    max-width: auto;
    top: 0
}

.elementor-3777 .elementor-element.elementor-element-26f97a2>.elementor-widget-container {
    border-style: solid
}

body:not(.rtl) .elementor-3777 .elementor-element.elementor-element-26f97a2 {
    left: 33px
}

body.rtl .elementor-3777 .elementor-element.elementor-element-26f97a2 {
    right: 33px
}

.elementor-3777 .elementor-element.elementor-element-485a398 {
    z-index: 1;
    width: auto;
    max-width: auto;
    top: 0
}

.elementor-3777 .elementor-element.elementor-element-485a398>.elementor-widget-container {
    border-style: solid
}

body:not(.rtl) .elementor-3777 .elementor-element.elementor-element-485a398 {
    left: 33px
}

body.rtl .elementor-3777 .elementor-element.elementor-element-485a398 {
    right: 33px
}

.elementor-3777 .elementor-element.elementor-element-87f3eed>.elementor-background-overlay {
    opacity: .74;
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-3777 .elementor-element.elementor-element-87f3eed {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: -50px;
    margin-bottom: 50px
}

.elementor-3777 .elementor-element.elementor-element-eee5447>.elementor-element-populated>.elementor-background-overlay {
    background-color: #7635f3;
    opacity: .81
}

.elementor-3777 .elementor-element.elementor-element-eee5447>.elementor-element-populated,
.elementor-3777 .elementor-element.elementor-element-eee5447>.elementor-element-populated>.elementor-background-overlay,
.elementor-3777 .elementor-element.elementor-element-eee5447>.elementor-background-slideshow {
    border-radius: 20px
}

.elementor-3777 .elementor-element.elementor-element-eee5447>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin: 0;
    padding: 50px
}

.elementor-3777 .elementor-element.elementor-element-eee5447>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-3777 .elementor-element.elementor-element-d9ae4ae {
    text-align: center
}

.elementor-3777 .elementor-element.elementor-element-d9ae4ae .elementor-heading-title {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase
}

.elementor-3777 .elementor-element.elementor-element-36516fa {
    text-align: center
}

.elementor-3777 .elementor-element.elementor-element-36516fa .elementor-heading-title {
    color: #fff;
    font-size: 40px;
    line-height: 1.3em
}

.elementor-3777 .elementor-element.elementor-element-64d0a34 .elementor-button {
    background-color: #61ce70
}